*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

     font-family: "DM Sans", sans-serif;
}



.container{
    width: min(90%, 1290px);
    margin-inline: auto;
    
    word-wrap: break-word;
}

.container .contents{
    padding-block: 4rem;
    
}

.container .contents header{
    margin-bottom: 3rem;
    text-align: center;
    
}

 u{
    color: #0dcaf0;

}

.container .contents header h2{
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
}

.contents .cards{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.contents .cards .card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 2px 1px 100px rgba(172, 166, 166, 0.4);
    padding-block: 0 .6rem;
    margin-top: 1rem;
}

.contents .cards .card .hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #273053;
    color: white;
}

.contents .cards .card .pricing--body{
    padding: 2rem;
    font-weight: 400;
    font-size: .9rem;
    color: #717275;
    line-height: 3rem;

}

.contents .cards .card .pricing--body .bottom{
    border-top: 1px solid rgba(0, 0, 0, .2);
    word-wrap: break-word;
}

.contents .cards .card .message{    
    font-weight: 400;
    font-size: .9rem;
    color: #717275;
}

.contents .cards .card a{
    text-decoration: none;
    background-color: #273053;
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: .65rem;
    line-height: .975rem;
    margin-top: 1rem;
}

.contents .cards .card a:hover{
    background-color: #0dcaf0;
}

#venue{
    background-color: rgb(240, 248, 255);
}

.venue-header h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 700;
    width: 100%;
}


.sub-contents{
    display: flex;
    gap: 1rem;
}

.map{
    width: 100%;
}
.map iframe{
    border-radius: 1rem;
}

.address{

    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.2);
    overflow-x: hidden;
}


.address .address-header h2{
    background-color: #273053;
    color: #fff;
    padding: 1rem;
    font-size: 2.4rem;
}

.address .info{
    line-height: 1.5rem;
    padding: 2rem;
    color: rgb(33, 37, 41);

}

.address .info h3{
    line-height: 1.92rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.address .info p{
    margin: 1.5rem 0 1rem 0;
    color: #000;
    font-size: 1rem;
    line-height: 1.92rem;


}

#contact {
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/maria-stewart-p4tj0g-_aMM-unsplash.jpg') top/cover  no-repeat fixed;
}


.form{
    overflow-x: hidden;
    border-radius: 1rem;
    margin-inline: auto;
    width: min(100%, 768px);
}

.form .form-header h2{
     background-color: #273053;
    color: #fff;
    padding: 1rem;
    font-size: 2.4rem;
}

.form form{
    background-color: #fff;
    padding: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form form .required{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: .5rem;
    

}

.form form .required input{
    height: 2.5rem;
    width: 100%;
    border: 0;
    padding: 15px;
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}



.form form textarea{
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    height: 8.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.form form  button{
    width: 100%;
    background-color: #0dcaf0;
    border-radius: 2rem;
    border: 0;
    padding: .8rem;
    color: #fff;
    font-weight: 700;
}
.form form  button:hover{
    background-color: #273053;
}



.footer-head{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    color: #0dcaf0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1rem;

}

.logo i, .logo i:hover{
    color: #0dcaf0;
    background-color: #fff;
}

footer i{
    color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   font-size: 2rem;
   border-radius: 50%;
   padding: 5px 5px 5px 5px;

}

footer i:hover{
    background-color: #0dcaf0;
    color: #fff;
}

.logo i{
    font-size: 1.9rem;
}

.footer-foot{
    margin-top: 3rem;
    display: flex;
   
    justify-content: space-between;
    font-weight: 100;
    font-size: .7rem;
    color: #1e1e1e;
}

.footer .copyright-btn{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-block: 1rem;
    

}

.footer .copyright-btn .copyright p{
    line-height: 2rem;

}

.footer .copyright-btn .copyright p a{
    text-decoration: none;
    color: #1e1e1e;
}

.footer .copyright-btn .copyright p a:hover{
    color: #0dcaf0;
}


.footer  ul{
    display: flex;
    gap: 1rem;
   padding-block: 1rem;
    width: 100%;
    
}



.footer  li{
    list-style: none;
    

}

.footer  li:hover{
    color: #0dcaf0;
    cursor: pointer;

}






@media (max-width: 991px){


    .sub-contents{
    display: flex;
    flex-direction: column;
}

    .venue-header h2{
    font-size: 1.8rem;    
}


.footer-foot{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 100;
    font-size: .7rem;
    color: #1e1e1e;
}


}


@media (max-width: 767px){

    .contents .cards{
        flex-wrap: wrap;
    }

    .address .address-header h2{
    font-size: 1.8rem;
}

.address .info p{
    font-size: 1.2rem;
}

.form .form-header h2{
    font-size: 1.8rem;
}

.form form .required{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;

}


}