*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#schedule{
    padding: 7.5rem 0;
}

.container{
    width: min(85%, 2000px);
    margin-inline: auto;
}

.container .schedule-header{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
u{
    color: #0dcaf0;
}

.days{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 1rem;


}
.days button{
    background-color: white;
    border-color:transparent;
    border-left-color: rgba(110, 144, 151,0.1);
    padding: 0;
    margin: 0;
    width: 25%;
    text-align: left;
    cursor: pointer;
}


.days button:hover{
    border-left-color: rgb(13, 202, 240);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    
     span{
    color: #0dcaf0;
}
}

.days button h3{
    padding: 1rem;
    max-height: 100%;
}

.days button h3 span{
    color: #000;
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
}

.days button h3 small{
    color: #717275;;
    cursor: pointer;
    font-size: .7rem;
}



.event{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.6rem;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
}

.event .event-img img{
    width: 100%;
    border-radius: 1.25rem;
}

.event .info{
    width: 100%;
}

.event .info h3{
    margin-bottom:.625rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    color: black;
    font-weight: 700;
}

.event .info p{
     margin-bottom:1rem;
    font-size: .9rem;
    line-height: 1.35rem;
    margin-bottom: 0.625rem;
    color: #717275;
    font-weight: 300;
}

.meetig-info{
    margin-top: 1.5rem;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    
}


.meeting-head{
    display: flex;
    gap: 0.8rem;
}



.meeting-head .head-img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg') center/cover no-repeat;
    
}
.meeting-head .head-img2{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg') center/cover no-repeat;
    
}

.meeting-head .head-img3{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/avatar/senior-man-white-sweater-eyeglasses.jpg') center/cover no-repeat;
    
}

.time{
    display: flex; 
    gap: .2rem;
}

img{
    max-width: 100%;
}



#BES{
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/terren-hurst-blgOFmPIlr0-unsplash.jpg') top/cover no-repeat fixed;
    max-height: fit-content;
}

.contents-1{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
    justify-content: space-between;

}

.contents-1 .info h2{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0;

}

.contents-1 .info p{
    text-align: left;
    font-size: .9rem;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;

}

.contents-1 .link{
    margin: 1.5rem 0;
    margin-top: 3rem;
}

.contents-1 .link a{
    text-decoration: none;
    color: #212529;
    background-color: #fff;
    font-size: small;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: 1rem;
    
}

.contents-1 .link a:hover{
    background-color: #0dcaf0;
    color: #fff;
}




/* ########################################################################################## */


.container .contents{
    padding-block: 4rem;
    
    
}

.container .contents header{
    margin-bottom: 3rem;
    text-align: center;
    
}

 u{
    color: #0dcaf0;

}

.container .contents header h2{
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
}

.contents .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    background-color: #1e1e1e;
}
.contents .cards .card{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: fit-content;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 2px 1px 100px rgba(172, 166, 166, 0.4);
    padding-block: 0 .6rem;
    margin-top: 1rem;
}

.contents .cards .card .hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #273053;
    color: white;   
    align-items: center;
    
}

.contents .cards .card .hero h2{
    width: 100%;
}


.contents .cards .card .pricing--body{
    padding: 2rem;
    font-weight: 400;
    font-size: .9rem;
    color: #717275;
    line-height: 3rem;

}

.contents .cards .card .pricing--body .bottom{
    border-top: 1px solid rgba(0, 0, 0, .2);
    word-wrap: break-word;
}

.contents .cards .card .message{    
    font-weight: 400;
    font-size: .9rem;
    color: #717275;
}

.contents .cards .card a{
    text-decoration: none;
    background-color: #273053;
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: .65rem;
    line-height: .975rem;
    margin-top: 1rem;
}

.contents .cards .card a:hover{
    background-color: #0dcaf0;
}

#venue{
    background-color: rgb(240, 248, 255);
}

.venue-header h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 700;
    width: 100%;
}


.sub-contents{
    display: flex;
    gap: 1rem;
}

.map{
    width: 100%;
}
.map iframe{
    border-radius: 1rem;
}

.address{

    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.2);
    overflow-x: hidden;
}


.address .address-header h2{
    background-color: #273053;
    color: #fff;
    padding: 1rem;
    font-size: 2.4rem;
}

.address .info{
    line-height: 1.5rem;
    padding: 2rem;
    color: rgb(33, 37, 41);

}

.address .info h3{
    line-height: 1.92rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.address .info p{
    margin: 1.5rem 0 1rem 0;
    color: #000;
    font-size: 1rem;
    line-height: 1.92rem;


}

#contact {
    background: url('https://templatemo.com/templates/templatemo_575_leadership_event/images/maria-stewart-p4tj0g-_aMM-unsplash.jpg') top/cover  no-repeat fixed;
}


.form{
    overflow-x: hidden;
    border-radius: 1rem;
    margin-inline: auto;
    width: min(100%, 768px);
}

.form .form-header h2{
     background-color: #273053;
    color: #fff;
    padding: 1rem;
    font-size: 2.4rem;
}

.form form{
    background-color: #fff;
    padding: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form form .required{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: .5rem;
    

}

.form form .required input{
    height: 2.5rem;
    width: 100%;
    border: 0;
    padding: 15px;
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}



.form form textarea{
    background-color: #f0f8ff;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    height: 8.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.form form  button{
    width: 100%;
    background-color: #0dcaf0;
    border-radius: 2rem;
    border: 0;
    padding: .8rem;
    color: #fff;
    font-weight: 700;
}
.form form  button:hover{
    background-color: #273053;
}



.footer-head{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    color: #0dcaf0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1rem;

}

.logo i, .logo i:hover{
    color: #0dcaf0;
    background-color: #fff;
}

footer i{
    color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   font-size: 2rem;
   border-radius: 50%;
   padding: 5px 5px 5px 5px;

}

footer i:hover{
    background-color: #0dcaf0;
    color: #fff;
}

.logo i{
    font-size: 1.9rem;
}

.footer-foot{
    margin-top: 3rem;
    display: flex;
   
    justify-content: space-between;
    font-weight: 100;
    font-size: .7rem;
    color: #1e1e1e;
}

.footer .copyright-btn{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-block: 1rem;
    

}

.footer .copyright-btn .copyright p{
    line-height: 2rem;

}

.footer .copyright-btn .copyright p a{
    text-decoration: none;
    color: #1e1e1e;
}

.footer .copyright-btn .copyright p a:hover{
    color: #0dcaf0;
}


.footer  ul{
    display: flex;
    gap: 1rem;
   padding-block: 1rem;
    width: 100%;
    
}



.footer  li{
    list-style: none;
    

}

.footer  li:hover{
    color: #0dcaf0;
    cursor: pointer;

}






@media (max-width: 991px){


    .sub-contents{
    display: flex;
    flex-direction: column;
}

    .venue-header h2{
    font-size: 1.8rem;    
}


.footer-foot{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 100;
    font-size: .7rem;
    color: #1e1e1e;
}


    .container{
        width: min(80%, 990px);
    }
    .event{
        display: grid;
        grid-template-columns: 1fr;
    }

    .days button{
        width: 50%;
    }

  

    .contents-1{
    display: block;
}

.contents .cards .card{
    width: calc(min(50%, 991px) - 1rem);
}

}




@media (max-width: 767px){

    .contents .cards{
        flex-wrap: wrap;
    }

    .contents .cards .card{
    width: fit-content;
}
    .address .address-header h2{
    font-size: 1.8rem;
}

.address .info p{
    font-size: 1.2rem;
}

.form .form-header h2{
    font-size: 1.8rem;
}

.form form .required{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;

}


}